<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="p-10 bg-blue-700">
        balls
    </div>
    <div>
        <h2> Enter Fasta Sequence</h2>
        <form id="inputForm" action="/" method="POST" enctype="multipart/form-data">
            <textarea id="sequence" name="sequence" rows="4" cols="50">{{input|safe}}</textarea>
            <select id="frame" name="frame" default="{{frame}}">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <input type="submit" name ="submit_button" value="Submit">
            <input type="submit" name ="submit_button" value="Reset">
        </form>
        {% if output %}
        <h2> Results</h2>
        <!-- Use safe filter to preserve newline characters -->
            {% for i in output %}

                <p>>{{ i[0]|safe }} <br> {{i[1]}}</p>
                {% if not i[4] %}
                <form action="/query" method="post">
                    <input type="hidden" id= 'seq' name="sequence" value="{{i[1]}}">
                    <input type="submit" id="blast" value="BLAST?"></input>
                </form>
                {% endif %}
                {% if i[2] and i[3] %}
                    <p> Estimated wait {{i[3]}} sec(s)</p>
                    <p> Job ID : {{i[2]}} </p>
                {% endif %}
                {% if i[4] %}
                    
                    <p><a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Get&RID={{i[2]}}" target="_blank">{{i[4]}}</a></p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <script>
        // Clear form data on page reload
        window.onload = function() {
            document.getElementById("inputForm").reset();
            document.getElementById("seq").reset();
        };
    </script>
</body>
</html>